$base-font: "Open Sans", "Arial", sans-serif;

$base-font-size: 14px;

$title-font-size: 18px;

$promo-font-size: 24px;

$base-line-height: 24px;

$regular-font-weight: 400;

$bold-font-weight: 700;

$red: #d22856;

$grey: #f2f2f2;

$dark-blue: #283645;

$green: #2aab6d;

$base-font-color: $dark-blue;

$tablet-width: 660px;

$desktop-width: 1200px;
