$base-font: "Open Sans", "Arial", sans-serif;

$base-font-size: 14px;

$title-font-size: 18px;

$promo-font-size: 24px;

$base-line-height: 24px;

$regular-font-weight: 400;

$bold-font-weight: 700;

$base-font-color: #797f86;
