.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  border: none;
  outline: none;

  &--download-shop {
    width: 280px;
    color: #ffffff;
    border: solid 2px white;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: $bold-font-weight;
    font-size: 18px;
    line-height: 18px;
  }

  &--competition-form,
  &--modal-action {
    color: white;
    background-color: $green;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    align-self: center;
  }

  @media (min-width: $tablet-width) {
    &--download-shop {
      margin-left: 20px;
      width: 296px;
      margin-top: 3px;
      padding-top: 15px;
      padding-bottom: 17px;
    }
  }
  @media (min-width: $desktop-width) {
    &--nav-toggle {
      display: none;
    }
    &--download-shop {
      margin-left: 0;
      font-size: 21px;
      line-height: 18px;
    }
  }
}
