.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  border: none;
  outline: none;

  &--download-shop {
    width: 280px;
    color: #ffffff;
    border: solid 2px white;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: $bold-font-weight;
    font-size: 18px;
    line-height: 18px;
    outline: none;
  }

  &--download-shop:hover {
    color: $red;
    background-color: white;
  }

  &--download-shop:active {
    color: #f2ced5;
    background-color: white;
  }

  &--competition-form,
  &--modal-action {
    color: white;
    background-color: $green;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    align-self: center;
    padding-top: 17px;
    padding-bottom: 15px;
    width: 280px;
  }

  &--competition-form:hover,
  &--modal-action:hover {
    background-color: #1c9b5e;
  }

  &--competition-form:active,
  &--modal-action:active {
    background-color: #1c9b5e;
    color: #7dbd99;
  }

  &--competition-form:disabled,
  &--modal-action:disabled {
    background-color: #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    &--download-shop {
      margin-left: 20px;
      width: 296px;
      margin-top: 3px;
      padding-top: 15px;
      padding-bottom: 17px;
    }

    &--competition-form {
      width: 297px;
      margin-left: 21px;
      margin-top: 47px;
    }

    &--nav-toggle {
      margin-top: 17px;
    }
  }

  @media (min-width: $tablet-width) {
    &--modal-action {
      width: 300px;
    }
  }

  @media (min-width: $desktop-width) {
    &--competition-form {
      margin-top: 6px;
      width: 299px;
      margin-left: 10px;
    }

    &--download-shop {
      margin-left: 10px;
      font-size: 21px;
      line-height: 18px;
    }

    &--modal-request {
      width: 460px;
    }
  }
}
