.container {
  width: 320px;
  margin: 0 auto;

  &--header {
    background-color: $dark-blue;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--index {
    position: relative;
  }

  &--index::after {
    content: "";
    position: absolute;
    width: 258px;
    height: 286px;
    bottom: 105px;
    left: 0;
    background-image: url("../img/iphone-hand-mobile@1x.png");
  }

  &--footer {
    padding-top: 40px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;

    &--index::after {
      bottom: 0;
      left: 345px;
    }

    &--footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;

    &--index::after {
      bottom: 0;
    }
  }
}
