.download {
  width: 320px;
  background-color: $dark-blue;

  padding-top: 15px;

  text-align: center;

  .download__list {
    list-style: none;
  }

  .download__info {
    @include reset();

    color: #dfdfe0;
    font-weight: 300;

    width: 280px;

    text-align: center;
  }

  @media screen and (min-width: $tablet-width) {
    background-color: transparent;
  }
}
