.footer {
  padding-top: 40px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  .footer__social-list {
    list-style: none;
  }

  .footer__developer {
    line-height: 18px;
    color: $dark-blue;
    position: relative;
    fill: $red;
  }

  &--index {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
