.footer {
  width: 100%;
  padding-bottom: 51px;

  .footer__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-top: 27px;
    text-align: center;
    padding-bottom: 10px;
  }

  .footer__social-list {
    list-style: none;
    padding-left: 23%;
    margin-top: 34px;
    display: flex;
    justify-content: flex-start;
    width: 193px;
    margin-bottom: 28px;
  }

  .footer__developer {
    line-height: 18px;
    color: $dark-blue;
    position: relative;
    top: 17px;
    right: 22px;
    fill: $red;
  }

  &--index {
    display: none;
  }

  .footer__social-item {
    margin-right: 13px;
  }

  .footer__social-link {
    display: block;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: solid 3px $grey;
  }

  .footer__social-link:hover,
  .footer__social-link:focus {
    border-color: $dark-blue;
  }

  .footer__social-link:active {
    border-color: #e9ebec;
    opacity: 0.3;
  }

  .footer__social-link--twitter {
    background-image: url("../img/bg/icon-twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .footer__social-link--facebook {
    background-image: url("../img/bg/icon-facebook.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .footer__social-link--youtube {
    background-image: url("../img/bg/icon-youtube.svg");
    background-repeat: no-repeat;
    background-position: 17px, center;
  }

  .footer__develop-logo {
    position: absolute;
    top: -6px;
    right: -42px;
  }

  .footer__developer:hover .footer__develop-logo,
  .footer__developer:focus .footer__develop-logo {
    fill: $dark-blue;
  }

  .footer__developer:active .footer__develop-logo {
    fill: #bec2c7;
  }

  .footer__logo {
    display: block;
    padding-top: 11px;
  }

  .footer__logo:hover,
  .footer__logo:focus {
    fill: $red;
  }

  .footer__logo:active {
    fill: $dark-blue;
    opacity: 0.3;
  }

  .footer__logo-image--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    .footer__wrapper {
      width: $tablet-width - 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 24px;
    }

    &--index {
      display: block;
    }

    .footer__social-list {
      padding-left: 21px;
      margin-top: 14px;
    }

    .footer__logo,
    .footer__developer {
      display: block;
    }

    .footer__developer {
      padding-right: 61px;
      padding-top: 15px;
      top: 15px;
      right: -19px;
    }

    .footer__develop-logo {
      top: 10px;
      right: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 40px;

    .footer__wrapper {
      width: $desktop-width;
      padding-top: 18px;
    }

    &--index {
      padding-top: 30px;
      padding-bottom: 45px;
    }

    .footer__logo {
      padding-left: 10px;
    }

    .footer__developer {
      font-size: 18px;
      padding-right: 52px;
      padding-top: 26px;
      top: 5px;
      right: 0;
    }

    .footer__develop-logo {
      top: 20px;
      right: 12px;
    }

    .footer__social-list {
      padding-left: 32px;
      margin-top: 14px;
    }

    .footer__social-link {
      width: 44px;
      height: 44px;
    }

    .footer__logo-image--mobile {
      display: none;
    }

    .footer__logo-image--desktop {
      display: block;
    }
  }
}
