.header {
  width: 100%;

  .header__wrapper {
    width: 320px;
    margin: 0 auto;
  }

  .header__wrapper--index {
    position: relative;
  }

  .header__logo {
    margin-right: 12px;
  }

  .header__logo-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 21px;
    padding-bottom: 17px;
    background-color: transparent;
  }

  @media (min-width: $tablet-width) {
    .header__wrapper {
      width: $tablet-width;
    }

    .header__logo-wrapper {
      padding-top: 28px;
      padding-bottom: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    .header__wrapper {
      width: $desktop-width;
    }

    .header__logo-wrapper {
      width: 160px;
      background: none;
      margin-right: 119px;
      padding-top: 0;
    }

    .header__logo {
      position: relative;
      top: -18px;
      left: -10px;
    }
  }
}
