.header {
  width: 100%;
  background-color: $dark-blue;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;

  .header__wrapper {
    width: 320px;
    margin: 0 auto;
  }

  .header__wrapper--index {
    position: relative;
  }

  .header__wrapper--index::after {
    content: "";
    position: absolute;
    width: 258px;
    height: 286px;
    bottom: 0;
    left: 0;
    background-image: url("../img/iphone-hand-mobile@1x.png");
  }

  .header__logo {
    margin-right: 12px;
  }

  .header__logo-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 21px;
    padding-bottom: 18px;
    background-color: transparent;
  }

  @media (min-width: $tablet-width) {
    .header__wrapper {
      width: $tablet-width;
      padding-bottom: 115px;
    }

    .header__logo-wrapper {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .header__wrapper--index::after {
      bottom: 0;
      left: 345px;
    }
  }

  @media (min-width: $desktop-width) {
    background-size: cover;

    .header__wrapper {
      width: $desktop-width;
      padding-bottom: 245px;
    }

    .header__wrapper--index::after {
      bottom: 0;
    }
  }
}
