.info {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  background-color: $grey;


  .info__title {
    @include set-fonts($title-font-size, $bold-font-weight, 10px);
    @include reset();
    padding-bottom: 20px;
    color: black;
  }

  .info__advantage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

  .info__description {
    @include reset();
    padding-bottom: 37px;
  }

  .info__advantage--friends::after {
    content: "";
    display: block;
    width: 157px;
    height: 281px;
    margin: 0 auto;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position-y: 3px;
  }

  .info__wrapper {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    text-align: left;

    .info__wrapper {
      width: $tablet-width;
    }

    .info__advantage {
      padding-left: 329px;
      margin-bottom: 3px;
    }

    .info__advantage:nth-of-type(1) {
      margin-top: 30px;
    }

    .info__advantage--friends::after {
      @include hidden();
    }
  }

  @media (min-width: $desktop-width) {
    .info__wrapper {
      width: $desktop-width;
      flex-direction: row;
      justify-content: space-between;
    }

    .info__advantage {
      padding-left: 0;
      width: 290px;
    }
  }
}
