.info {
  //@include reset();
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;

  .info__title {
    @include set-fonts($title-font-size, $bold-font-weight, 10px);
    @include reset();
    padding-bottom: 20px;
    color: black;
  }

  .info__promo {
    @include reset();
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: $promo-font-size;
    color: #283645;
    text-align: center;
  }

  .info__advantage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .info__description {
    @include reset();
    padding-bottom: 35px;
  }

  .info__advantage--friends::after {
    content: "";
    display: block;
    width: 157px;
    height: 320px;
    margin: 0 auto;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position-y: 35px;
  }

  .info__wrapper {
    display: flex;
    flex-direction: column;
    background-color: $grey;

  }

  @media (min-width: $tablet-width) {
    text-align: left;

    .info__advantage {
      padding-left: 340px;
    }

    .info__advantage--friends::after {
      @include hidden();
    }
  }

  @media (min-width: $desktop-width) {
    .info__wrapper {
      flex-direction: row;
      justify-content: space-between;
    }

    .info__advantage {
      padding-left: 0;
      width: 290px;
    }
  }
}
