.info {
  @include reset();
  width: 280px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;

  .info__title {
    @include set-fonts($title-font-size, $bold-font-weight, 10px);
    @include reset();
    padding-bottom: 20px;
    color: black;
  }

  .info__promo {
    @include reset();
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
    font-size: $promo-font-size;
    color: #283645;
    text-align: center;
  }

  .info__advantage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
  }

  .info__description {
    @include reset();
    padding-bottom: 35px;
  }

  .info__advantage--friends::after {
    content: "";
    display: block;
    width: 157px;
    height: 320px;
    margin: 0 auto;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position-y: 35px;
  }
}
