.intro {
  @include reset();
  padding-top: 40px;
  width: 100%;

  &--index {
    margin-top: 262px;
  }

  .intro__title {
    @include reset();
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
  }

  .intro__title--index {
    display: none;
  }

  .intro__title--form,
  .intro__title--photo {
    padding: 0 20px;
    padding-bottom: 120px;
    padding-top: 70px;
    text-align: center;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    &--index {
      margin-top: 0;
      margin-bottom: 100px;
    }

    .intro__title--index {
      display: block;
      width: 300px;
      text-align: center;
    }
  }
}
