.intro {
  @include reset();
  padding-top: 40px;
  width: 100%;

  &--index {
    margin-top: 355px;
    margin-bottom: 265px;
  }

  .intro__title {
    @include reset();
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
  }

  .intro__title--index {
    display: none;
  }

  .intro__title--form,
  .intro__title--photo {
    padding: 0 20px;
    padding-bottom: 120px;
    padding-top: 70px;
    text-align: center;
    margin: 0 auto;
  }

  &--index::after {
    content: "";
    position: absolute;
    width: 258px;
    height: 286px;
    bottom: 0;
    left: 0;
    background-image: url("../img/iphone-hand-mobile@1x.png");
  }

  @media (min-width: $tablet-width) {
    &--index {
      margin-top: 0;
      padding-bottom: 382px;
      margin-bottom: 0;
    }

    &--index::after {
      bottom: 0;
      left: 345px;
    }

    .intro__title--index {
      display: block;
      width: 245px;
      text-align: center;
      font-size: 40px;
      padding-top: 49px;
      padding-left: 48px;
      line-height: 49px;
      font-weight: 300;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 22px;

    .intro__title--index {
      font-size: 50px;
      line-height: 59px;
      padding-left: 37px;
    }

    &--index {
      padding-bottom: 455px;
      margin-bottom: 0;
    }

  }

}
