.kits {
  padding-top: 64px;
  width: 100%;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 94.074px;
    top: -59px;
    transform: rotate(180deg);
    background-image: url(../img/bg-triangle-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .kits_wrapper {
    width: 320px;
    margin: 0 auto;
    overflow-x: hidden;
  }

  background-color: $grey;

  .kits__title {
    @include reset();
    padding-top: 15px;
    padding-bottom: 22px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: $dark-blue;
    text-align: center;
  }

  .kits__table {
    table-layout: fixed;

    width: 100%;

    transform: translateX(-539px);

    margin: 0 auto;

    word-wrap: break-word;

    border-collapse: collapse;
  }

  .kits__title,
  .kits__feature-check {
    text-transform: uppercase;

    border: 2px solid $grey;

    width: 278px;
  }

  .kits__feature-check:not(:first-of-type) {
    position: relative;
  }

  .kits__feature-check:not(:first-of-type)::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 27px;
    right: 21px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .kits__feature-check--yes::after {
    background-image: url("../img/icon-yes.svg");
    background-size: 31px;
  }

  .kits__feature-check--no::after {
    background-image: url("../img/icon-no.svg");
  }


  .kits__title:first-of-type {
    background-color: $grey;
  }

  .kits__feature-check {
    background-color: white;
    padding-top: 16px;
    padding-bottom: 18px;
    padding-left: 22px;
  }

  .kits__title--empty {
    background-color: white;
    border: none;
    border-right: 2px solid $grey;
  }

  .kits__name {
    display: block;
    font-size: 18px;
    font-weight: $bold-font-weight;
    line-height: 30px;
    margin: 0 auto;
  }

  .kits__price {
    display: block;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    margin: 0 auto;
  }

  .kits__toggles {
    @include reset();
    padding-top: 33px;
    padding-left: 9px;
    padding-bottom: 41px;
    text-align: center;
  }

  .kits__toggle {
    height: 11px;
    padding-left: 0px;
    border-radius: 50%;
    border-width: 3px;
    border-color: #283645;
    background-color: white;
    margin-right: 10px;
  }

  .kits__title--hit {
    position: relative;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-position: left top;
  }

  .kits__title--hit::before {
    content: "Хит";
    position: absolute;
    transform: rotate(-45deg);
    width: 74px;
    height: 73px;
    left: 3px;
    top: 7px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 57px;
    padding-top: 35px;
    padding-bottom: 68px;

    &::before {
      top: -73px;
    }

    .kits_wrapper {
      width: $tablet-width;
    }

    .kits__table {
      table-layout: fixed;
      transform: translateX(0);
      width: 620px;
    }

    .kits__title,
    .kits__feature-check {
      width: 145px;
      word-wrap: break-word;
    }

    .kits__title--hit {
      background-image: url("../img/bg-hit-tablet.svg");
    }

    .kits__title--hit::before {
      left: 1px;
      top: -1px;
    }

    .kits__feature-check {
      text-transform: none;
      padding-top: 9px;
      padding-bottom: 12px;
      padding-left: 16px;
    }

    .kits__feature-check:not(:first-of-type) {
      font-size: 0;
    }

    .kits__feature-check:not(:first-of-type)::after {
      right: 40%;
    }

    .kits__title {
      padding-top: 12px;
      padding-bottom: 6px;
    }

    .kits__name {
      font-size: 16px;
      line-height: 30px;
    }

    .kits__price {
      font-size: 18px;
      line-height: 30px;
    }

    .kits__toggles {
      @include hidden();
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 61px;
    padding-bottom: 94px;

    &::before {
      height: 110px;
      top: -105px;
    }

    .kits_wrapper {
      width: $desktop-width;
    }

    .kits__table {
      width: 940px;
    }

    .kits__name {
      font-size: 18px;
    }

    .kits__price {
      font-size: 24px;
    }

    .kits__title,
    .kits__feature-check {
      width: 230px;
    }

    .kits__title {
      padding-top: 16px;
      padding-bottom: 21px;
    }

    .kits__feature-check {
      padding-top: 16px;
      padding-bottom: 19px;
      font-size: 18px;
      padding-left: 21px;
    }

    .kits__title--hit {
      background-image: url("../img/bg-hit.svg");
      background-repeat: no-repeat;
      background-position: left top;
    }

    .kits__title--hit::before {
      left: 6px;
      top: 7px;
    }

    .kits__feature-check:not(:first-of-type)::after {
      width: 30px;
      right: 43%;
    }
  }
}
