.kits {
  @include reset();

  .kits__title {
    @include reset();
    color: #ffffff;
    text-transform: uppercase;
    background-color: #283645;
  }

  .kits__list {
    @include reset();
  }

  .kits__name {
    font-size: 18px;
    font-weight: $bold-font-weight;
    line-height: 30px;
  }

  .kits__price {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
  }

  .kits__features-list {
    @include reset();
    list-style: none;
    text-transform: uppercase;
    line-height: 30px;
  }

  .kits__toggles {
    @include reset();
  }
}
