.kits {
  padding-top: 120px;
  width: 100%;

  .kits_wrapper {
    width: 320px;
    margin: 0 auto;
    overflow-x: hidden;
  }

  background-color: $grey;

  .kits__title {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: $dark-blue;
    text-align: center;
  }

  .kits__table {
    table-layout: fixed;

    width: 100%;

    transform: translateX(-540px);

    margin: 0 auto;

    word-wrap: break-word;

    border-collapse: collapse;
  }

  .kits__title,
  .kits__feature-filter,
  .kits__feature-smile,
  .kits__feature-comment {
    text-transform: uppercase;

    border: 1px solid $grey;

    width: 280px;
  }

  .kits__feature-filter,
  .kits__feature-smile,
  .kits__feature-comment {
    background-color: white;
  }

  .kits__title--empty {
    background-color: white;
    border: none;
    border-right: 1px solid $grey;
  }

  .kits__name {
    font-size: 18px;
    font-weight: $bold-font-weight;
    line-height: 30px;
    margin: 0 auto;
  }

  .kits__price {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    margin: 0 auto;
  }

  .kits__toggles {
    @include reset();
    padding-top: 30px;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    .kits_wrapper {
      width: $tablet-width;
    }

    .kits__table {
      table-layout: fixed;
      transform: translateX(0);
      width: 620px;
    }

    .kits__title,
    .kits__feature-filter,
    .kits__feature-smile,
    .kits__feature-comment {
      width: 145px;
      word-wrap: break-word;
    }
  }

  @media (min-width: $desktop-width) {
    .kits_wrapper {
      width: $desktop-width;
    }

    .kits__table {
      width: 940px;
    }

    .kits__title,
    .kits__feature-filter,
    .kits__feature-smile,
    .kits__feature-comment {
      width: 236px;
    }
  }
}
