.main-nav {
  @include set-fonts($title-font-size, $bold-font-weight, 32px);

  color: #ffffff;

  background-color: #283645;

  .main-nav__link {
    color: #ffffff;
  }
  .main-nav__list {
    list-style: none;
  }

  .main-nav__toggle {
  }


}
