.main-nav {
  width: 100%;
  position: relative;
  z-index: 1;


  @include set-fonts($title-font-size, $bold-font-weight, 32px);

  color: #ffffff;

  background-color: $dark-blue;

  .main-nav__wrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }

  .main-nav__list {
    @include reset();
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 auto;
    flex-grow: 1;
  }

  .main-nav__link {
    color: #ffffff;
  }

  .main-nav__link:hover {
    color: $red;
  }

  .main-nav__link:active {
    color: #6f3750;
  }


  &--no-js .main-nav__list {
    display: block;
  }

  &--closed .main-nav__list {
    display: none;
  }
  &--closed {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &--closed .button--nav-toggle {
    background-image: url("../img/icon-menu-burger.svg");
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 45px;

    .main-nav__wrapper {
      width: $desktop-width;
      flex-direction: row;
    }

    .main-nav__list {
      display: flex;
      width: 480px;
      flex-direction: row;
      justify-content: flex-start;
      margin: 0;
      padding-left: 6px;
    }

    .main-nav__link:hover {
      color: $red;
    }

    .main-nav__link:active {
      color: #6a757f;
    }
  }
}
