.main-nav {
  width: 100%;
  margin: 0 auto;

  @include set-fonts($title-font-size, $bold-font-weight, 32px);

  color: #ffffff;

  background-color: $dark-blue;

  .main-nav__list {
    @include reset();
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 auto;
    flex-grow: 1;
  }

  .main-nav__link {
    color: #ffffff;
  }

  .main-nav__wrapper {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    .main-nav__wrapper {
      width: $tablet-width;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
    vertical-align: middle;
    background-color: rgba(40, 54, 69, 0.8);
    padding-top: 45px;

    .main-nav__list {
      flex-direction: row;
      justify-content: flex-start;
      margin: 0;
      padding-left: 6px;
    }

    .main-nav__wrapper {
      flex-direction: row;
      width: $desktop-width;
    }
  }
}
