.modal {
  width: 100%;
  position: absolute;
  z-index: 99;

  .modal__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }

  .modal__wrapper--request {
    padding-bottom: 0;
  }

  .modal__title {
    color: black;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
  }

  .modal__description {
    width: 270px;
    color: $dark-blue;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 39px;
  }

  .modal__description--request {
    margin-bottom: 18px;
  }

  .modal__button-area {
    text-align: center;
  }

  .modal__button-area--request {
    background-color: $grey;
    padding-top: 49px;
    padding-bottom: 53px;
    margin-bottom: 0;
    width: 100%;
  }

  &--error {
    top: 60vh;
  }

  &--request {
    top: 170vh;
  }

  @media (min-width: $tablet-width) {
    .modal__wrapper {
      width: $tablet-width;
    }
  }

  @media (min-width: $desktop-width) {
    .modal__wrapper {
      width: $desktop-width;
    }
  }
}
