.photo-upload {
  width: 100%;

  .photo-upload__form {
    width: 100%;
    background-color: $grey;
  }

  .photo-upload__wrapper {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 22px;
  }

  .photo-upload__upload-button,
  .photo-upload__discard-button {
    display: block;
    color: $red;
    font-size: 18px;
    border: solid 3px $red;
    font-weight: $bold-font-weight;
    width: 278px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 26px;
    outline: none;
    background-color: #f2f2f2;
    word-wrap: break-word;
  }

  .photo-upload__discard-button {
    border: solid 3px $dark-blue;
    margin-bottom: 42px;
    color: $dark-blue;
    opacity: 0.1;
  }

  .photo-upload__upload-button:hover {
    background-color: $red;
    color: white;
  }

  .photo-upload__upload-button:active {
    background-color: $red;
    color: #e08195;
  }

  .photo-upload__discard-button:hover {
    opacity: 0.3;
  }

  .photo-upload__discard-button:active {
    opacity: 1;
    color: #cdd0d3;
    background-color: #b5b9be;
    border: solid 3px #b5b9be;
  }

  .photo-upload__upload-button {
    margin-bottom: 11px;
  }

  .photo-upload__promo {
    text-align: center;
    width: 260px;
    margin: 0 auto;
    padding: 40px 0 40px;
    line-height: 30px;
    word-wrap: break-word;
  }

  .photo-upload__media {
    @include reset();
    width: 280px;
    margin: 0 auto;
  }

  .photo-upload__processing-body {
    width: 280px;
    padding-top: 32px;
  }

  .photo-upload__filters {
    display: flex;
    width: 241px;
    margin: 0 auto;
    padding-bottom: 73px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .photo-upload__filter-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }

  .photo-upload__filter {
    width: 80px;
    border: none;
    outline: none;
    background-color: transparent;
    opacity: 0.3;
  }

  .photo-upload__filter:hover {
    opacity: 0.5;
  }

  .photo-upload__filter--current {
    opacity: 1;
    fill: $red;
  }

  .photo-upload__filter-manipulators {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }

  .photo-upload__manipulator {
    display: none;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 32px;
    border-bottom: solid 2px $dark-blue;
  }

  .photo-upload__manipulator::before {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    bottom: -8px;
    right: 36px;
    border-radius: 50%;
    background-color: $grey;
    border: solid 2px $red;
  }

  .photo-upload__manipulator::after {
    content: "";
    position: absolute;
    height: 0;
    width: 314px;
    bottom: -36px;
    left: -38px;
    border: 1px solid #dddfe0;
  }

  .photo-upload__manipulator--current {
    display: block;
  }

  .photo-upload__manipulator--current::before {
    background-color: $red;
  }

  @media (min-width: $tablet-width) {
    .photo-upload__wrapper {
      width: $tablet-width - 40px;
      display: flex;
      flex-direction: row;
      padding-top: 23px;
      padding-bottom: 50px;
    }

    .photo-upload__promo {
      font-size: 18px;
      line-height: 30px;
      width: 430px;
      padding-top: 62px;
      padding-bottom: 70px;
    }

    .photo-upload__processing-body {
      display: flex;
      flex-direction: column;
      padding-top: 0;
      margin-top: 0;
      margin-right: 0;
      margin-left: 31px;
      min-height: 441px;
    }

    .photo-upload__filters {
      margin: 0;
      padding-top: 4px;
      width: 280px;
      padding-bottom: 83px;
    }

    .photo-upload__filter-tools {
      flex-direction: column;
      margin-top: 38px;
      min-height: 169px;
      width: 25px;
      margin-left: 7px;
      margin-right: 27px;
    }

    .photo-upload__filter {
      width: 33px;
      padding-left: 0;
    }

    .photo-upload__filter-manipulators {
      flex-direction: column;
      width: 200px;
      margin-top: 18px;
      align-self: baseline;
      min-height: 140px;
      justify-content: flex-start;
    }

    .photo-upload__manipulator {
      display: block;
      margin-bottom: 38px;
      height: 32px;
    }

    .photo-upload__manipulator::after {
      width: 273px;
      bottom: -38px;
      left: -53px;
    }

    .photo-upload__manipulator::before {
      right: 38px;
    }

    .photo-upload__manipulator:nth-of-type(2)::before {
      right: 160px;
    }

    .photo-upload__manipulator:nth-of-type(3)::before {
      right: 89px;
    }

    .photo-upload__manipulator:last-of-type {
      margin-bottom: 0;
    }

    .photo-upload__filter-crop {
      width: 25px;
      height: 25px;
    }

    .photo-upload__filter-fill {
      width: 25px;
      height: 25px;
    }

    .photo-upload__filter-contrast {
      width: 18px;
      height: 18px;
    }

    .photo-upload__filter-icon:last-of-type {
      width: 0;
      height: 0;
    }

    .photo-upload__discard-button,
    .photo-upload__upload-button {
      width: 258px;
      font-size: 18px;
      margin-left: 8px;
      margin-top: 7px;
    }

    .photo-upload__discard-button {
      margin-top: 10px;
      margin-bottom: 0;
    }

    .photo-upload__media {
      width: 300px;
      margin-right: 10px;
      align-self: baseline;
      padding-top: 35px;
    }
  }

  @media (min-width: $desktop-width) {
    .photo-upload__form {
      background-color: white;
      margin-bottom: 70px;
    }

    .photo-upload__wrapper {
      width: 940px;
      background-color: $grey;
      padding-top: 42px;
      padding-bottom: 45px;
    }

    .photo-upload__promo {
      padding-top: 14px;
    }

    .photo-upload__media {
      margin-left: 80px;
      width: 312px;
      padding-top: 14px;
    }

    .photo-upload__processing-body {
      flex-direction: row;
      width: 540px;
      flex-wrap: wrap;
      min-height: 425px;
    }

    .photo-upload__upload-button,
    .photo-upload__discard-button {
      width: 180px;
      margin-bottom: 10px;
    }

    .photo-upload__upload-button {
      margin-top: 0;
      margin-left: 51px;
      margin-right: 39px;
    }

    .photo-upload__discard-button {
      margin-top: 0;
    }

    .photo-upload__filters {
      width: 520px;
      padding-top: 0;
      padding-bottom: 140px;
    }

    .photo-upload__filter-tools {
      width: 50px;
      margin-top: 0;
      margin-left: 50px;
    }

    .photo-upload__filter-manipulators {
      width: 330px;
      margin-left: 14px;
      margin-top: 0;
    }

    .photo-upload__filter {
      width: 50px;
      height: 72px;
    }

    .photo-upload__filter-crop {
      width: 45px;
      height: 45px;
    }

    .photo-upload__filter-fill {
      width: 46px;
      height: 46px;
    }

    .photo-upload__filter-contrast {
      width: 33px;
      height: 33px;
    }

    .photo-upload__manipulator {
      width: 290px;
    }

    .photo-upload__manipulator::after {
      width: 407px;
      bottom: -39px;
      left: -91px;
    }

    .photo-upload__manipulator:nth-of-type(1)::before {
      right: 204px;
    }

    .photo-upload__manipulator:nth-of-type(2)::before {
      right: 28px;
    }

    .photo-upload__manipulator:nth-of-type(3)::before {
      right: 115px;
    }
  }
}
