.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 15px;

  .photo-card__user-picture {
    display: block;
  }

  .photo-card__description {
    background-color: $grey;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    justify-content: flex-start;
  }

  .photo-card__title {
    @include reset();
    padding-top: 18px;
    margin-right: auto;
    margin-left: 18px;
  }

  .photo-card__user-comment {
    @include reset();
    margin-right: auto;
    margin-left: 17px;
    text-align: left;
    padding-bottom: 11px;
  }

  .photo-card__user-name {
    font-weight: 700;
    color: #000000;
  }

  .photo-card__like-button {
    margin-top: auto;
    font-size: 12px;
    position: relative;
    color: $red;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: 17px;
    padding-left: 32px;
  }

  .photo-card__like-button::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 12px;
    left: 0;
    top: 6px;
    background-image: url("../img/sprite-bg.svg");
    background-position: -734px -2975px;
    background-repeat: no-repeat;
  }

  .photo-card__description--best {
    width: 280px;
  }

  .photo-card__full-link--best {
    position: relative;
  }

  .photo-card__full-link--best::before {
    position: absolute;
    content: "Панорама дня";
    font-size: 12px;
    text-transform: uppercase;
    width: 129px;
    height: 25px;
    padding-top: 7px;
    padding-bottom: 4px;
    text-align: center;
    vertical-align: middle;
    right: 19px;
    padding-left: 7px;
    padding-right: 7px;
    top: 0;
    background-color: $red;
    color: white;
    font-weight: 700;
  }


  @media (min-width: $tablet-width) {
    align-self: baseline;

    &--best {
      width: 100%;
      padding-top: 43px;
    }

    .photo-card__full-link--best::before {
      right: 128px;
      top: 55px;
    }


    .photo-card__description {
      min-height: 135px;
    }

    .photo-card__like-button {
      margin-left: 28px;
      margin-right: auto;
      margin-bottom: 0;
      padding-left: 0;
    }

    .photo-card__title {
      margin-top: 3px;
      margin-right: auto;
      margin-left: 28px;
    }

    .photo-card__user-comment {
      margin-left: 28px;
      margin-right: auto;
    }

    .photo-card__description--best {
      width: 620px;
      flex-direction: row;
      flex-wrap: wrap;
      min-height: auto;
    }

    .photo-card__title--best {
      order: 0;
      margin-top: 0;
      padding-top: 23px;
    }

    .photo-card__user-picture--best {
      min-height: 509px;
    }

    .photo-card__like-button--best {
      @include reset();
      order: 1;
      margin-left: auto;
      margin-right: 57px;
      padding-top: 24px;
      margin-top: 0;
    }

    .photo-card__like-button::before {
      left: 227px;
      top: 4px;
    }

    .photo-card__like-button--best::before {
      left: 106px;
      top: 29px;
    }

    .photo-card__user-comment--best {
      order: 2;
      width: 100%;
      padding-bottom: 3px;
    }
  }

  @media (min-width: $desktop-width) {

    width: 320px;

    &--best {
      width: 100%;
      padding-top: 55px;
    }

    .photo-card__user-picture--best {
      min-height: unset;
    }

    .photo-card__description--best {
      width: 937px;
    }
  }
}
