.photo-upload {
  width: 100%;

  .photo-upload__form {
    width: 100%;
    background-color: $grey;
  }

  .photo-upload__wrapper {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 23px;
  }

  .photo-upload__upload-button,
  .photo-upload__discard-button {
    color: $red;
    border: solid 2px $red;
    border-radius: 10px;
    font-weight: $bold-font-weight;
    width: 277px;
  }

  .photo-upload__upload-button {
    margin-bottom: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
  }

  .photo-upload__discard-button {
    margin-bottom: 42px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
  }

  .photo-upload__promo {
    @include reset();
    text-align: center;
    width: 212px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .photo-upload__media {
    @include reset();
    padding-bottom: 195px;
  }

  @media (min-width: $tablet-width) {
    .photo-upload__wrapper {
      width: $tablet-width;
      display: flex;
      flex-direction: row;
    }

    .photo-upload__processing-body {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: $desktop-width) {
    .photo-upload__form {
      background-color: white;
    }

    .photo-upload__wrapper {
      width: 940px;
      background-color: $grey;
    }
  }
}
