.reviews {
  width: 100%;

  padding-top: 41px;
  padding-bottom: 48px;
  text-align: center;

  .reviews__author-name {
    @include set-fonts($title-font-size, $bold-font-weight, 30px);
    color: black;
    font-style: normal;
  }

  .reviews__author-information {
    display: none;
  }

  .reviews__text {
    @include reset();
    padding-top: 13px;
    padding-bottom: 63px;
    padding-right: 19px;
    padding-left: 18px;
    font-size: 14px;
    line-height: 30px;
  }

  .reviews__list {
    @include reset();
  }

  .reviews__item {
    @include reset();
    display: flex;
    flex-direction: column;
  }

  .reviews__wrapper {
    width: 320px;
    margin: 0 auto;
    position: relative;
  }

  .reviews__toggles {
    @include reset();
    display: flex;
    position: absolute;
    bottom: 22px;
    left: 41%;
  }

  .reviews__toggle {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 20px;
    cursor: pointer;
    vertical-align: top;
    border-radius: 50%;
    background: #bec2c7;
  }

  .reviews__toggle-prev,
  .reviews__toggle-next {
    display: none;
  }

  .reviews__hide {
    display: none;
  }

  .reviews__slide--first:checked ~ .reviews__toggles .reviews__toggle[for="reviews-slider1"],
  .reviews__slide--second:checked ~ .reviews__toggles .reviews__toggle[for="reviews-slider2"],
  .reviews__slide--third:checked ~ .reviews__toggles .reviews__toggle[for="reviews-slider3"] {
    box-shadow: 0 0 0 2px $dark-blue;
    background-color: white;
  }

  .reviews__item--first,
  .reviews__item--second,
  .reviews__item--third {
    display: none;
  }

  .reviews__slide--first:checked ~ .reviews__list .reviews__item--first {
    display: block;
  }

  .reviews__slide--second:checked ~ .reviews__list .reviews__item--second {
    display: block;
  }

  .reviews__slide--third:checked ~ .reviews__list .reviews__item--third {
    display: block;
  }

  @media (min-width: $tablet-width) {
    margin-top: 72px;

    .reviews__author-name {
      order: 1;
      font-size: 20px;
      line-height: 30px;
    }

    .reviews__author-information {
      display: block;
      order: 2;
      margin-top: 5px;
    }

    .reviews__wrapper {
      width: $tablet-width;
    }

    .reviews__text {
      font-size: 18px;
      line-height: 30px;
      padding-bottom: 34px;
    }

    .reviews__toggles {
      top: 221px;
      left: 45%;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 133px;
    padding-bottom: 52px;

    .reviews__wrapper {
      width: $desktop-width;
      position: relative;
    }

    .reviews__toggle-prev,
    .reviews__toggle-next {
      display: block;
    }

    .reviews__wrapper::before {
      content: "";
      position: absolute;
      width: 79px;
      height: 64px;
      top: -100px;
      left: 46%;
      background-image: url("../img/sprite-bg.svg");
      background-repeat: no-repeat;
      background-position: -239px -1356px;
    }

    .reviews__list {
      position: relative;
    }

    .reviews__toggle-prev {
      position: absolute;
      background-color: transparent;
      border: none;
      outline: none;
      width: 25px;
      height: 54px;
      left: 10px;
      top: 42px;
      background-image: url("../img/sprite-bg.svg");
      background-position: -2692px -760px;
      background-repeat: no-repeat;
      opacity: 0.3;
    }

    .reviews__toggle-next {
      position: absolute;
      background-color: transparent;
      border: none;
      outline: none;
      width: 25px;
      height: 54px;
      right: 10px;
      top: 42px;
      background-image: url("../img/sprite-bg.svg");
      background-position: -2696px -1287px;
      background-repeat: no-repeat;
      opacity: 0.3;
    }

    .reviews__toggle-prev:hover,
    .reviews__toggle-next:hover {
      opacity: 0.6;
    }

    .reviews__toggle-prev:active,
    .reviews__toggle-next:active {
      opacity: 0.1;
    }


    .reviews__text {
      width: 700px;
      margin: 0 auto;
      font-size: 18px;
      line-height: 30px;
    }

    .reviews__author-name {
      font-size: 24px;
      line-height: 30px;
    }

    .reviews__author-information {
      font-size: 18px;
      line-height: 30px;
    }

    .reviews__toggles {
      @include hidden();
    }
  }
}
