.reviews {
  width: 100%;

  padding-top: 41px;
  padding-bottom: 57px;
  text-align: center;

  .reviews__author-name {
    @include set-fonts($title-font-size, $bold-font-weight, 30px);
    color: black;
    font-style: normal;
  }

  .reviews__author-information {
    display: none;
  }

  .reviews__text {
    @include reset();
    padding-top: 13px;
    padding-bottom: 30px;
    padding-right: 19px;
    padding-left: 18px;
    line-height: 30px;
  }

  .reviews__list {
    @include reset();
  }

  .reviews__item {
    @include reset();
  }

  .reviews__toggles {
    @include reset();
  }

  .reviews__wrapper {
    width: 320px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    margin-top: 72px;

    .reviews__item {
      display: flex;
      flex-direction: column;
    }

    .reviews__author-name {
      order: 1;
      font-size: 20px;
      line-height: 30px;
    }

    .reviews__author-information {
      display: block;
      order: 2;
      margin-top: 5px;
    }

    .reviews__wrapper {
      width: $tablet-width;
    }
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    .reviews__wrapper {
      width: $desktop-width;
    }
  }
}
