.users-photo {
  width: 100%;


  .users-photo__wrapper {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    flex-wrap: wrap;
  }

  .users-photo__promo {
    @include reset();
    line-height: 30px;
    font-size: 14px;
    background-color: white;
    padding-bottom: 34px;
    text-align: center;
    width: 279px;
  }

  .photo-card__full-link {
    font-size: 0;
  }

  @media (min-width: $tablet-width) {
    .users-photo__wrapper {
      flex-direction: row;
      width: $tablet-width;
    }
  }

  @media (min-width: $desktop-width) {
    .users-photo__wrapper {
      width: $desktop-width;
    }
  }
}
