.users-photo {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  flex-wrap: wrap;

  .users-photo__promo {
    @include reset();
    line-height: 30px;
    font-size: 14px;
    background-color: white;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}
