.users-photo {
  width: 100%;

  .users-photo__wrapper {
    width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .users-photo__promo {
    @include reset();
    line-height: 30px;
    padding-top: 44px;
    font-size: 14px;
    background-color: white;
    padding-bottom: 34px;
    text-align: center;
    margin: 0 auto;
    width: 279px;
    word-wrap: break-word;
  }

  @media (min-width: $tablet-width) {
    padding-top: 47px;

    .users-photo__wrapper {
      flex-direction: row;
      width: $tablet-width - 40px;
      padding-top: 32px;
      padding-left: 1px;
      padding-right: 1px;
    }

    .users-photo__item {
      width: 300px;
    }

    .users-photo__promo {
      font-size: 18px;
      width: 495px;
    }
  }

  @media (min-width: $desktop-width) {
    .users-photo__wrapper {
      width: $desktop-width - 20px;
    }

    .users-photo__promo {
      width: 640px;
    }

    .users-photo__item {
      margin-bottom: 36px;
    }
  }
}
